<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Boolzap</title>

    <!-- LINK CSS -->
    <link rel="stylesheet" href="css/style.css">

    <!-- FONT-AWESOME 5.10.0-->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

    <!-- VIEWPORT -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- JAVA FUNCTION -->
    <!-- <script src="js/function.js" charset="utf-8"></script> -->

    <!-- VUE 2.6.12 -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
  </head>
  <body>
    <div class="container" id="myBoolzapp">
      <div class="leftCard bkgrWhite">
        <div class="userName styleImg bkgrLightgrey">
          <img :src="nomeUtente.image" alt="foto">
          <h4>{{nomeUtente.nome}}</h4>
          <div class="iconUserName colorIconUp">
            <i class="fas fa-circle-notch"></i>
            <i class="fas fa-comment-alt"></i>
            <i class="fas fa-ellipsis-v"></i>
          </div>
        </div>
        <div class="notifiche bkgrAzure">
          <i class="fas fa-bell-slash"></i>
          <div class="notificheBell">
            <h4>Ricevi notifiche di nuovi messaggi</h4>
            <a href="#">Attiva notifiche desktop</a>
          </div>
        </div>
        <div class="searchChat bkgrLightgrey colorIconUp">
          <i class="fas fa-search"></i>
          <input type="text" name="" size="30px" value="" placeholder="cerca chat" v-model='search' @keyup='searchContact'>
        </div>
        <ul class="chats" >
          <template v-if='search.length > 0'>
            <li class="friends" :class='{bkgrGrey: el === activeContact}' v-for='el in filterContact' @click='changeChat(el)'>
              <div class="styleImg">
                <img :src="el.image" alt="foto">
              </li>
              <h3>{{el.name}}</h3>
            </div>
          </template>
          <template v-else>
            <li class="friends" :class='{bkgrGrey: el === activeContact}' v-for='el in contacts' @click='changeChat(el)'>
              <div class="styleImg">
                <img :src="el.image" alt="foto">
              </div>
              <h3>{{el.name}}</h3>
            </li>
          </template>
        </ul>
      </div>
      <div class="rightCard">
        <div class="friendChoice bkgrLightgrey">
          <div class=" styleImg">
            <img :src="activeContact['image']" alt="foto">
          </div>
          <div class="chatNow">
            <h3>{{activeContact.name}}</h3>
            <h5>{{activeContact.lastChat}}</h5>
          </div>
          <div class="iconFriend colorIconUp">
            <i class="fas fa-search"></i>
            <i class="fas fa-paperclip"></i>
            <i class="fas fa-ellipsis-v"></i>
          </div>
        </div>
        <div class="chatHero">
          <div class="messages " v-for='contatto in activeContact.history' :class="{'f-end': contatto.type === 'sent'}">
              <div class="message" :class="contatto.type === 'sent'? 'bkgrWhite' : 'bkgrLightYellow' ">
                <p> {{contatto.text}} </p>
                <div class="hourMessage ">
                  <p> {{contatto.date}}</p>
                </div>
              </div>
          </div>
        </div>
        <div class="writing bkgrBeige colorIconDown">
          <i class="far fa-smile"></i>
          <input type="text" placeholder="scrivi messaggio..." v-model='myInput' @keyup.enter="sendMessage" >
          <i class="fas fa-microphone"></i>
        </div>
      </div>
    </div>
  <!-- script -->
  <script src="js/script.js" charset="utf-8"></script>
  </body>
</html>
